name: First Github Action Pipeline
on:
 push:
   branches:
    - main
jobs:
 build:
   runs-on: ubuntu-latest
   steps:
    - uses: actions/checkout@v2
    - name: Build
      run: |
          echo "Build Step!!"
